:root {
  --color-bg: white;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: monospace;
  --font-family-header: monospace;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

body {
  font-family: monospace;
  background-color: var(--color-bg);
}

hr {
  width: 100%;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: left;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-items: left;
  justify-content: center;
}