/* CSS files add styling rules to your content */

div {
  max-width: 900px;
  padding-left: 2%;
  padding-top: 0%;
  font-family: sans-serif;
   color: black;
}


a:hover {
  background-color: #B8B8FF;
}


/* selected link */
a:active {
  color: #1F84D6;
}

body {
  background-color: #FFB6B6;
}