/* CSS files add styling rules to your content */



a:hover {
  background-color: #B8B8FF;
}


/* selected link */
a:active {
  color: #1F84D6;
}

body {
  background-color: #fffdfa;

  font-family: sans-serif;
   color: black;
}

img {
max-width:300px;
}

footer { font-size: 0.8em; }

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {

  padding: 2px;
  max-width: 500px;
  margin-top: 2px;

}